.minuterie{
  //width: 90px;
  //height: 71px;
  //background-color: $color-bg-gradient;
  display: flex;
  justify-content: space-around;
  color: $white;
}

#jours{
  width: 90px;
  height: 71px;
  background: $color-bg-gradient;
  text-align: center;
}

#heures{
  width: 90px;
  height: 71px;
  background: $color-bg-gradient;
  text-align: center;
}

#minutes{
  width: 90px;
  height: 71px;
  background: $color-bg-gradient;
  text-align: center;
}

#secondes{
  width: 90px;
  height: 71px;
  background: $color-bg-gradient;
  text-align: center;
}

.minuterie div p{

}