.header-page{
  position: fixed;
  background-color: $color-bg-header;
  width: 100vw;
  height: 156px;
  margin: auto;
  display: flex;
}

.nav-principale{
  margin: auto;
}

.nav-principale a{
  text-decoration: none;
}

.nav-principale li{
  list-style: none;
}

.compagnie{
  display: flex;
}